
/* ------- GRID PLACEMENT --------- */
body {
  display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(800px, 1200px) minmax(0px, 1fr);
    justify-content: stretch;
    margin: 0;
    background-color: rgb(47, 47, 51);
}

main {
    grid-column: 2/3;
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
    height: 100vh;
    margin: 0;
}

.header-top-wrapper {
    display: grid;
    grid-template-columns: 10fr 1fr .8fr 1fr;
    align-items: center;
    justify-content: center;
}

.header-bottom-wrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search-input {
    width: 75%;
    border-radius: 1rem;
    
}

.sidebar {
    grid-row: 1/3;
    background-color: rgb(161, 6, 6);
    color: black;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-content: start;
    gap: 1rem;
    padding: 2rem .8rem;
    font-weight: 700;
    
}

.content {
    display: grid;
    grid-template-columns: minmax(200px,3fr) minmax(160px,1fr);
    gap: 1rem;
    padding: 1rem;
    align-content: start;
    color: aliceblue;
    font-weight: 700;
}

.project-container {
    grid-row: 1/3;
}

.project-wrapper,
.announcement-wrapper,
.trending-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 6px;
    border-radius: .5rem;
    height: 100%;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: .5rem;
}

.announcement,
.trending {
    grid-column: 1/3;
    margin: 1rem 1rem 0 1rem;
}

.icon-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-items: end;
    align-self: end;
}


/* -------------- STYLING ----------------- */



* {
 font-family: Judson, Helvetica, sans-serif;
 font-size: .95rem;
}

.project {
    border-radius: .5rem;
    padding: 1rem 1rem .7rem 1rem;
    border-left: .5rem inset rgb(255, 0, 0);
    display: grid;
    align-content: space-between;
}

.trending-container {
    margin-top: 1.5rem;
}

.ico {
    width: fit-content;
    justify-self: center;
}

h4 {
   margin: 0 0;
   font-size: 1.1rem;
   
}

p {
    margin-top: .2rem;
    margin-bottom: .8rem;
    font-size: .9rem;
    font-weight: 100;
}

.announcement-wrapper > div:nth-child(-n+2),
.trending-wrapper > div:nth-child(-n+3) {
    border-bottom: 1px solid grey;
}

.project-art {
    background-size: 100%;
    background-position-y: -30px;
    background-repeat: no-repeat;
    height: 75px;
    margin: -16px -15px 5px -15px;
    border-radius: 0 .5rem 0 0;
    margin-bottom: 10px;
}

.art1 {
    background-image: url("./images/hunter.jpg");
}

.art2 {
    background-image: url("./images/agents.jpg");
}

.art3 {
    background-image: url("./images/expedition.jpg");
}

.art4 {
    background-image: url("./images/housewife.jpg");
    
}

.art5 {
    background-image: url("./images/nightfog.jpg");
    background-position-y: -105px;
}

.art6 {
    background-image: url("./images/pit.jpg");
    background-position-y: -105px;
}

.trending-profile-ico {
    height: 35px;
    border-radius: 100% ;
}

.main-profile-ico {
    height: 60px;
    justify-self: end;
    
}

.header,
.project,
.announcement-wrapper,
.trending-wrapper {
    color: rgb(240, 248, 255);
    background-color: rgba(34, 33, 32, 0.959);
    box-shadow: 1px 1px 4px rgb(73, 69, 69);
    gap: .5rem;
}

.project:hover{
    border-left: .5rem inset aliceblue;
    
}

.header {
    padding: 1rem 3rem;
}

a {
    color: pink;
}

.header-buttons {
    color: black;
    font-weight: 700;
    background-color: rgb(196, 0, 0);
    border-radius: 1rem;
    text-align: center;
    padding: .4rem .2rem;
    border: none;
}

.header-buttons:hover{
    border: 2px solid aliceblue;
}

.header-buttons:active {
    box-shadow: inset 2px 3px;
}


.greeting {
    font-size: 1.1rem;
    margin-bottom: 0;
}

.name {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 900;
}

.search-submit {
    border: none;
    height: 23px;
    background-color:  rgba(34, 33, 32, 0.959);
    
}

.icon {
    margin-bottom: -3px;
}

.notification {
    justify-self: center;
}


.logo {
    font-family: "Protest Strike", Impact, sans-serif;
    font-size: 35px;
    font-weight: 900;
    /* margin-top: 1rem; */
    margin-bottom: 6rem;
    align-self: center;
}

.menu:nth-child(12){
    margin-bottom: 4rem;
}

.sidebar > a {
    color: black;
    text-decoration: none;
}

.sidebar > a:hover {
    color: aliceblue;
}